.hero-section {
  .hero-sec-discover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-left {
      width: 45%;
      .hero-left-content {
        margin-bottom: 30px;
        h2 {
          font-size: 3vw;
          margin-bottom: 30px;
          span {
            color: var(--text-orange);
          }
        }
        p {
          color: var(--text-gray);
          line-height: 1.8;
          font-size: 1.1vw;
          padding-right: 15%;
        }
      }
      .btn-discover {
        padding: 15px;
        border: 1px solid var(--text-orange);
        background: #fff;
        color: var(--text-orange);
        cursor: pointer;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
    .hero-right {
      .hero-tourist {
        position: relative;
        padding: 10% 0% 10% 10%;
        img {
          max-width: 100%;
        }
        .box {
          position: absolute;
          padding: 10px;
          background: #fff;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          display: flex;
          align-items: center;
          gap: 15px;
          box-shadow: -4px 4px 5px 2px #f2f2f2;

          .box-img {
            img {
              max-width: none;
            }
          }

          .box-content {
            .title {
              font-size: 0.9vw;
              font-family: "Poppins", sans-serif;
              /* font-weight: 500; */
              font-style: normal;
              margin-bottom: 5px;
            }
            .content {
              color: #666666;
              font-size: 0.8vw;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-style: normal;
            }
          }
          &.box1 {
            top: 20%;
            left: -4%;
            width: 30%;
            .box-content {
              .title {
                margin-bottom: 0px;
              }
            }
          }
          &.box2 {
            width: 40%;
            top: 40%;
            right: 0%;
            box-shadow: 4px 0px 5px 2px rgba(242, 242, 242, 0.5);
          }
          &.box3 {
            top: 58%;
            left: 0%;
            box-shadow: -4px 0px 5px 2px rgba(242, 242, 242, 0.5);
          }
        }
        .gray-flight {
          position: absolute;
          width: 100%;
          top: 0%;
        }
      }
    }
  }

  .hero-sec-explore {
    .banner {
      width: 80%;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 0 40px 0px rgba(204, 204, 204, 0.3);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .box {
        .title {
          font-size: 0.9vw;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          margin-bottom: 12px;
          span > i {
            color: var(--text-orange);
          }
        }
        .content {
          font-size: 0.8vw;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: var(--text-gray);
        }
      }
      button {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    }
  }
}
