.s-c-6 {
  background: #fefcfb;
  .content-area {
    padding-bottom: 14vw;
    .card-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 30px;
      .card {
        width: 25%;
        background: #fff;
        border: 1px solid rgba(185, 185, 185, 0.2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        .card-top {
          img {
            max-width: 100%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
        }
        .card-bottom {
          padding: 15px 15px 15px 1px;
          .bottom-area-1 {
            margin-bottom: 10px;
            font-size: 0.8vw;
            .card-title {
              color: #222222;
              font-family: "Poppins", sans-serif;
              font-style: normal;
            }
          }
          .bottom-area-2 {
            font-size: 0.7vw;
            color: #999999;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }
    .dot-container {
      .dots {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .dot {
          font-size: 0.6vw;
          color: #e5e5e5;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &.active {
            font-size: 0.8vw;
            color: var(--text-orange);
          }
        }
      }
    }
  }
}
